---
layout: default
---

<!--                                                                 
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

{% include intro.html %}

<hr>

{% include portfolio.html %}

<hr>

{% if site.data.services %}
    {% include services.html %}
{% endif %}

<hr>

{% include testimonial.html %}

<hr>
{% if site.data.clients %}
    {% include clients.html %}
{% endif %}

<hr>

{% include latest-posts.html %}

<hr>
<!-- {% include cta.html %} -->


