<section id="intro">
  <div class="">
    <div class="owl-carousel owl-theme carousel-1">
      <div class="item position-relative">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/feature1.png' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>Blogging</p>
          <h1>Passion For Blooging!</h1>
        </div>
      </div>

      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/feature2.png' | relative_url}})"></div>
        <div class="text-container position-absolute">
          <p>Content</p>
          <h1>Immersive Content!</h1>
        </div>
      </div>

      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/feature3.png' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>Earn</p>
          <h1>Earn Money Online!</h1>
        </div>
      </div>

      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/feature4.png' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>Market</p>
          <h1>Learn Marketing Strategies!</h1>
        </div>
      </div>
    </div>
  </div>
</section>